html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #EEEEEE;
  padding-bottom: 56px; }

.header {
  background: #38474F;
  box-shadow: 0 2px 6px 0 rgba(75, 75, 75, 0.5), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 15px;
  display: flex;
  align-items: center; }
  .header > .header__left {
    flex-basis: 30%; }
    .header > .header__left > .header__money {
      padding: 8px 25px;
      font-family: 'AppleSystemUIFont',Helvetica,Arial,serif;
      font-size: 20px;
      color: white;
      text-align: justify;
      line-height: 20px;
      display: inline-block;
      border: 1px solid #FFFFFF;
      border-radius: 16px; }
  .header > .header__right {
    text-align: right;
    flex-basis: 70%; }
    .header > .header__right .header__icon {
      display: inline-block;
      margin-left: 20px; }
  .header__back {
    font-family: HiraginoSans-W4;
    font-size: 20px;
    color: #FFFFFF; }

.main {
  padding-top: 50px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 20px; }
  .main .main__center {
    background-image: linear-gradient(-180deg, #858585 0%, #1A1A1A 97%);
    border-radius: 10px;
    padding: 10px; }
    .main .main__center .main__center__top {
      border: 1px solid #FFFFFF;
      border-radius: 16px;
      font-family: HiraginoSans-W3;
      font-size: 10px;
      color: #FFFFFF;
      letter-spacing: 2.31px;
      display: inline-block;
      padding: 3px; }
    .main .main__center__middle {
      padding-left: 30px;
      padding-top: 30px;
      margin-bottom: 30px; }
      .main .main__center__middle__name {
        font-family: Courier;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 1.34px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.32); }
      .main .main__center__middle__number {
        font-family: Courier;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: 0.96px;
        line-height: 30px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.32);
        margin-top: 15px; }
  .main .main_pay {
    background: #FFFFFF;
    box-shadow: 0 5px 2px 0 rgba(168, 168, 168, 0.5);
    border-radius: 4px;
    padding: 26px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main .main_pay.main_coupon {
      padding: 20px;
      margin-bottom: 30px; }
    .main .main_pay__text {
      font-family: HiraginoSans-W6;
      font-size: 20px;
      color: #444444;
      text-align: left;
      line-height: 20px;
      padding-left: 10px; }

.footer {
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
  justify-items: center; }
  .footer__item {
    padding: 9px;
    flex-basis: 20%;
    text-align: center; }
    .footer__item__text {
      font-size: 8px;
      color: #000000;
      text-align: center;
      font-family: HiraginoSans-W6; }
      .footer__item__text--no-active {
        font-size: 8px;
        color: #B1B1B1;
        text-align: center; }

/*input page*/
.input_page__center_text {
  font-family: HiraginoSans-W3;
  font-size: 16px;
  color: #000000;
  text-align: center; }
.input_page__bottom {
  font-family: HiraginoSans-W6;
  font-size: 12px;
  color: #000000;
  text-align: right;
  padding-bottom: 10px; }

.passcode_container {
  padding: 80px 10px; }
  .passcode_container__input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 60px;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 30px;
    letter-spacing: 10px;
    color: #7C7C7C; }
    .passcode_container__input:focus {
      outline: none; }

/* qrcode */
.qr-code-page__content {
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 20px; }
  .qr-code-page__content__barcode {
    padding: 30px;
    text-align: center; }
    .qr-code-page__content__barcode__text {
      font-family: HiraginoSans-W3;
      font-size: 16px;
      color: #000000;
      text-align: center; }
    .qr-code-page__content__barcode__bottom {
      text-align: left;
      display: flex;
      justify-items: center;
      align-items: center; }
      .qr-code-page__content__barcode__bottom > span {
        font-family: HiraginoSans-W3;
        font-size: 16px;
        color: #000000;
        text-align: center;
        display: inherit; }
        .qr-code-page__content__barcode__bottom > span:last-child {
          padding-left: 10px; }
  .qr-code-page__content__bottom {
    background: #fff;
    border-top: 1px solid #B1B1B1;
    padding: 15px 10px;
    display: flex;
    justify-items: center;
    align-items: center; }
    .qr-code-page__content__bottom > div {
      flex-basis: 50%; }
    .qr-code-page__content__bottom__right {
      text-align: right; }
      .qr-code-page__content__bottom__right > a {
        font-family: HiraginoSans-W6;
        font-size: 16px;
        color: #000000; }
    .qr-code-page__content__bottom__left > span {
      display: inline-block; }
      .qr-code-page__content__bottom__left > span:first-child {
        position: relative;
        top: 3px; }
